/* src/globals.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
    --background: #ffffff; 
    --background2: #bbbbbb;
    --foreground: #1d1d1d;
    --foreground2: #333333;
    --accent: #800000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground2: var(--foreground2);
  --color-background2: var(--background2);
  --color-accent: var(--accent);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1d;
    --background2: #2d2d2d;
    --foreground: #ffffff;
    --foreground2: #cccccc;
    --accent: #800000;
  }
}

body {
  font-family: var(--font-body);
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}